@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    to bottom,
    #f8fafc,
    #eef2ff
  );
  color: var(--foreground);
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 999px;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  width: max-content;
  animation: marquee 30s linear infinite;
}